<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:content="http://www.springframework.org/schema/context"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo" xmlns:solr="http://www.springframework.org/schema/c"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
<!--


    配置服务提供者应用名称
    <dubbo:application name="taoyoupin-sellergoods"></dubbo:application>
    配置注册中心
    <dubbo:registry protocol="zookeeper" address="192.168.25.133" port="2181"></dubbo:registry>

    配置服务调用的端口 默认端口为20880
    <dubbo:protocol name="dubbo" port="20880" ></dubbo:protocol>

    发布服务:注解的方式 扫描对应的包 @service 即可发布服务
    <dubbo:annotation package="com.taoyoupin.sellergoods.service"  ></dubbo:annotation>

    开启组件扫描
    <content:component-scan base-package="com."></content:component-scan>
-->

    <bean class="com.taoyoupin.solr.SolrUtil" id="solrUtil"></bean>
    <bean class="org.apache.solr.client.solrj.impl.HttpSolrServer" id="httpSolrServer">
        <constructor-arg name="baseURL" value="http://192.168.25.133:8080/solr"></constructor-arg>
    </bean>
    <bean class="org.springframework.data.solr.core.SolrTemplate" id="solrTemplate">
        <constructor-arg name="solrServer" ref="httpSolrServer"></constructor-arg>
    </bean>

</beans>